version: '3.8'
services:
  postgres-test:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: testuser
      POSTGRES_PASSWORD: testpass
      POSTGRES_DB: testdb
    ports:
      - '55435:5432' # maps host 5434 -> container 5432
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U testuser -d testdb']
      interval: 5s
      timeout: 5s
      retries: 5
