name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: ${{secrets.TEST_DB_PASSWORD}}
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U testuser -d testdb"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5
    env:
      DATABASE_URL: ${{secrets.DATABASE_URL}}
      DIRECT_URL: ${{secrets.DIRECT_URL}}
      JWT_SECRET: ${{secrets.JWT_SECRET}}
      GOOGLE_CLIENT_ID: ${{secrets.GOOGLE_CLIENT_ID}}
      LOG_LEVEL: debug
      BETTERSTACK_ENABLED: false
      CLOUD_FLARE_R2_ACCESS_KEY_ID: ${{secrets.CLOUD_FLARE_R2_ACCESS_KEY_ID}}
      CLOUD_FLARE_R2_SECRET_ACCESS_KEY: ${{secrets.CLOUD_FLARE_R2_SECRET_ACCESS_KEY}}
      CLOUD_FLARE_R2_ACCOUNT_ID: ${{secrets.CLOUD_FLARE_R2_ACCOUNT_ID}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 23

      - name: Install Yarn
        run: npm install --global yarn

      - name: Install dependencies
        run: yarn install --ignore-scripts

      - name: Generate Prisma code
        run: yarn prisma:generate

      - name: Run tests
        run: yarn test

      - name: Run e2e tests
        run: yarn test:e2e
